body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
input {
    margin: 5px;
}

#colorDiv {
    margin: 10px 0;
}

.highlight {
    background-color: yellow;
}
meter, range {
    width: 100%;
    height: 20px;
    margin: 10px 0;
}